
#u769.b {
}
#u769_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞ Bold', 'AvertaStd-Regular ☞ Regular', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u769.b {
}
#u769_text.b {
}
#u769 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u770.b {
}
#u770_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞ Bold', 'AvertaStd-Regular ☞ Regular', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u770.b {
}
#u770_text.b {
}
#u770 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u772.b {
}
#u772_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞ Regular', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u772.b {
}
#u772_text.b {
}
#u772 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u773.b {
}
#u773_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/index/u64_div.svg');
  background-repeat:no-repeat;
  background-size:21px 18px;
  background-position: 0.0px 0.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u773.b {
}
#u773_text.b {
}
#u773 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u774.b {
}
#u774_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞ Regular', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u774.b {
}
#u774_text.b {
}
#u774 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u775.b {
}
#u775_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞ Regular', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u775.b {
}
#u775_text.b {
}
#u775 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u776.b {
}
#u776_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞ Regular', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u776.b {
}
#u776_text.b {
}
#u776 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u777.b {
}
#u777_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞ Bold', 'AvertaStd-Regular ☞ Regular', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u777.b {
}
#u777_text.b {
}
#u777 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u779.b {
}
#u779_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞ Regular', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u779.b {
}
#u779_text.b {
}
#u779 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u780.b {
}
#u780_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/index/u71_div.svg');
  background-repeat:no-repeat;
  background-size:22px 15px;
  background-position: 0.0px 0.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u780.b {
}
#u780_text.b {
}
#u780 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u782.b {
}
#u782_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞ Regular', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u782.b {
}
#u782_text.b {
}
#u782 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u783.b {
}
#u783_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/index/u74_div.svg');
  background-repeat:no-repeat;
  background-size:21px 21px;
  background-position: 0.0px -1.5px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u783.b {
}
#u783_text.b {
}
#u783 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u784.b {
}
#u784_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞ Regular', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u784.b {
}
#u784_text.b {
}
#u784 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u785.b {
}
#u785_img.b {
}
#u785.b {
}
#u785_text.b {
}
#u785 .text.b {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u786.b {
}
#u786_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd-Semibold ', 'AvertaStd-Semibold', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#07133A;
  text-align:left;
}
#u786.b {
}
#u786_text.b {
}
#u786 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u787.b {
}
#u787_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd-Semibold ', 'AvertaStd-Semibold', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#07133A;
  text-align:left;
}
#u787.b {
}
#u787_text.b {
}
#u787 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u789.b {
}
#u789_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞ Regular', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u789.b {
}
#u789_text.b {
}
#u789 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u790.b {
}
#u790_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/index/u47_div.png');
  background-repeat:no-repeat;
  background-size:68px 51px;
  background-position: 0.0px -14.5px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u790.b {
}
#u790_text.b {
}
#u790 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u792.b {
}
#u792_img.b {
}
#u792.b {
}
#u792_text.b {
}
#u792 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u793.b {
}
#u793_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd-Regular ', 'AvertaStd-Regular', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u793.b {
}
#u793_text.b {
}
#u793 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u794.b {
}
#u794_img.b {
}
#u794.b {
}
#u794_text.b {
}
#u794 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u795.b {
  position:fixed;
  left:536px;
  top:1651px;
}
#u798.b {
}
#u798_img.b {
}
#u798.b {
}
#u798_text.b {
}
#u798 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u799.b {
}
#u799_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E9EAEB;
  text-align:justify;
  text-justify:inter-word;
}
#u799.b {
}
#u799_text.b {
}
#u799 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u801.b {
}
#u801_img.b {
}
#u801.b {
}
#u801_text.b {
}
#u801 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u802.b {
}
#u802_img.b {
}
#u802.b {
}
#u802_text.b {
}
#u802 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u804.b {
}
#u804_img.b {
}
#u804.b {
}
#u804_text.b {
}
#u804 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u805.b {
  position:absolute;
  left:-42px;
  top:-876px;
}
#u806.b {
}
#u806_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
}
#u806.b {
}
#u806_text.b {
}
#u806 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u807.b {
}
#u807_img.b {
}
#u807.b {
}
#u807_text.b {
}
#u807 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u808.b {
}
#u808_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
}
#u808.b {
}
#u808_text.b {
}
#u808 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u805_state0.b {
  position:relative;
  left:0px;
  top:0px;
  width:156px;
  height:45px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u805_state1.b {
  position:relative;
  left:0px;
  top:0px;
  width:156px;
  height:45px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u809.b {
  position:absolute;
  left:-42px;
  top:-773px;
}
#u810.b {
}
#u810_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
}
#u810.b {
}
#u810_text.b {
}
#u810 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u811.b {
}
#u811_img.b {
}
#u811.b {
}
#u811_text.b {
}
#u811 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u812.b {
}
#u812_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
}
#u812.b {
}
#u812_text.b {
}
#u812 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u809_state0.b {
  position:relative;
  left:0px;
  top:0px;
  width:323px;
  height:45px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u809_state1.b {
  position:relative;
  left:0px;
  top:0px;
  width:323px;
  height:45px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u813.b {
  position:absolute;
  left:-42px;
  top:-663px;
}
#u814.b {
}
#u814_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
}
#u814.b {
}
#u814_text.b {
}
#u814 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u815.b {
}
#u815_img.b {
}
#u815.b {
}
#u815_text.b {
}
#u815 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u816.b {
}
#u816_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
}
#u816.b {
}
#u816_text.b {
}
#u816 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u813_state0.b {
  position:relative;
  left:0px;
  top:0px;
  width:157px;
  height:45px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u813_state1.b {
  position:relative;
  left:0px;
  top:0px;
  width:367px;
  height:46px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u817.b {
  position:absolute;
  left:-42px;
  top:-551px;
}
#u818.b {
}
#u818_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
}
#u818.b {
}
#u818_text.b {
}
#u818 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u819.b {
}
#u819_img.b {
}
#u819.b {
}
#u819_text.b {
}
#u819 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u820.b {
}
#u820_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
}
#u820.b {
}
#u820_text.b {
}
#u820 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u817_state0.b {
  position:relative;
  left:0px;
  top:0px;
  width:231px;
  height:45px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u817_state1.b {
  position:relative;
  left:0px;
  top:0px;
  width:231px;
  height:45px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u821.b {
  position:absolute;
  left:-42px;
  top:-432px;
}
#u822.b {
}
#u822_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
}
#u822.b {
}
#u822_text.b {
}
#u822 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u823.b {
}
#u823_img.b {
}
#u823.b {
}
#u823_text.b {
}
#u823 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u824.b {
}
#u824_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
}
#u824.b {
}
#u824_text.b {
}
#u824 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u821_state0.b {
  position:relative;
  left:0px;
  top:0px;
  width:356px;
  height:45px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u821_state1.b {
  position:relative;
  left:0px;
  top:0px;
  width:356px;
  height:45px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u825.b {
  position:absolute;
  left:-42px;
  top:-307px;
}
#u826.b {
}
#u826_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
}
#u826.b {
}
#u826_text.b {
}
#u826 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u827.b {
}
#u827_img.b {
}
#u827.b {
}
#u827_text.b {
}
#u827 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u828.b {
}
#u828_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
}
#u828.b {
}
#u828_text.b {
}
#u828 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u825_state0.b {
  position:relative;
  left:0px;
  top:0px;
  width:135px;
  height:45px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u825_state1.b {
  position:relative;
  left:0px;
  top:0px;
  width:216px;
  height:45px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u829.b {
  position:absolute;
  left:-42px;
  top:-187px;
}
#u830.b {
}
#u830_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
}
#u830.b {
}
#u830_text.b {
}
#u830 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u831.b {
}
#u831_img.b {
}
#u831.b {
}
#u831_text.b {
}
#u831 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u832.b {
}
#u832_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
}
#u832.b {
}
#u832_text.b {
}
#u832 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u829_state0.b {
  position:relative;
  left:0px;
  top:0px;
  width:245px;
  height:45px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u829_state1.b {
  position:relative;
  left:0px;
  top:0px;
  width:245px;
  height:45px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u833.b {
  position:absolute;
  left:-42px;
  top:-66px;
}
#u834.b {
}
#u834_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
}
#u834.b {
}
#u834_text.b {
}
#u834 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u835.b {
}
#u835_img.b {
}
#u835.b {
}
#u835_text.b {
}
#u835 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u836.b {
}
#u836_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
}
#u836.b {
}
#u836_text.b {
}
#u836 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u833_state0.b {
  position:relative;
  left:0px;
  top:0px;
  width:133px;
  height:45px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u833_state1.b {
  position:relative;
  left:0px;
  top:0px;
  width:133px;
  height:45px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u837.b {
}
#u837_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvertaStd- ☞', 'AvertaStd-Regular ☞', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
  line-height:27px;
}
#u837.b {
}
#u837_text.b {
}
#u837 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u795_state0.b {
  position:relative;
  left:0px;
  top:0px;
  width:437px;
  height:140px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u795_state1.b {
  position:relative;
  left:0px;
  top:0px;
  width:474px;
  height:359px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u838.b {
  width:132px;
}
#u838_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:5639px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u838.b {
  width:132px;
}
#u838_text.b {
}
#u838 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u839.b {
  top:0px;
  width:132px;
}
#u839_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:5639px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u839.b {
  top:0px;
  width:132px;
}
#u839_text.b {
}
#u839 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
